.center{
    padding-left: 35%;
}
#broadcast{
    display: none;
}
.textCenter{
    text-align: center;
}
#close{
    background: red;
    color: aliceblue;
}
.restore{
    display: none;
}
.text{
    color: red;
}